.layout {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  padding-top: 0.5rem;
  margin: auto 0;
}
.layout > li > button {
  display: block;
  padding: 0 0.75em;
  background: inherit;
  border: none;
  outline: inherit;
  font-family: var(--font-sans);
  font-size: 1rem;
}
.layout > li > button > span {
  min-height: calc(2.25rem + 2px);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  line-height: 2.25em;
  width: 1.5em;
}
.borderFirst {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.borderLast {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.numbers {
  font-weight: 300;
}
.icons,
.numbers {
  color: var(--gray-300);
}
.selected {
  font-weight: 700;
  color: #fff;
}
.disabled {
  color: var(--black-100);
}
.disabled,
.selected {
  cursor: default;
}
.interactive {
  cursor: pointer;
}
.interactive:hover {
  color: #fff;
  background-color: var(--black-200);
}
.layout > li > button:focus,
.layout > li > button:active {
  outline: none;
}
@media (--mobile-xxs) {
  .layout {
    flex-direction: column;
  }
}
